.home-container {
  color: var(--text-color-primary);
  padding: 2.5rem 0;
}

.logo-props {
  width: 90px;
}

.user-name-continer {
  margin-top: 6rem;
}

.main-heading {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.input {
  border: none;
  background-color: transparent;
  border-bottom: 3px solid var(--text-color-primary);
  font-size: 3rem;
  color: var(--text-color-primary);
  text-align: center;
  font-weight: 00;
  width: 100%;
}

.input:focus {
  outline: none;
}
.gap-lg {
  gap: 10rem;
}
